registry=https://jfrog.ford.com/artifactory/api/npm/devenablement-wame-npm-virtual/
//jfrog.ford.com/artifactory/api/npm/devenablement-wame-npm-virtual/:_authToken=${ARTIFACTORY_PASSWORD}
email=${ARTIFACTORY_USER}
PLAYWRIGHT_BROWSERS_PATH=0
